<script type="text/javascript">
window.initialData = JSON.stringify({'bla': '123'})
</script>

<%- include('header') %>
    <div id="root">
        напишем что-нибудь для теста
        <%- content %>
    </div>
<%- include('footer') %>
